#items_display{
	font-family:"Lobster";
	color:green;
}
#link1{
	font-size:large;
	text-decoration:none;
}
#link1:hover{
	color:blue;
}
#link2{
	float:far-right;
	font-size:large;
	text-decoration:none;
}
#link2:hover{
	color:blue;
}
h1{
	font-family:"Lobster";
	font-size:extra-large;
}
