* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 16px;
    line-height: 16px;
    font-family: Georgia, serif;
    color: #7f7f7f;
    background: #fff url(images/body-bg.gif) repeat-x 0 0;
}

a {text-decoration: none; cursor:pointer; }

.left, .alignleft { float: left; display: inline; }

.shell { width: 980px; margin: 0 auto; }


#header { padding: 35px 0 45px 0; }

#navigation { float: right; display: inline; }
#navigation ul { list-style: none outside none; }
#navigation ul li { float: left; display: inline; padding-right: 7px; }
#navigation ul li a,
#navigation ul li a span { float: left; display: inline; height: 34px; font-weight: bold; font-style: italic; font-size: 12px; color: #8e8e8e; line-height: 33px;  padding-left: 15px; }
#navigation ul li a span { padding: 0 15px 0 0; }
#navigation ul li a:hover, 

#navigation ul li a:hover span,
#navigation ul li a.active span { background: url(images/nav-hover.gif) no-repeat 0 0; color: #868686; }
#navigation ul li a:hover span,
#navigation ul li a.active span { background-position: right 0; }


#featured-content { background: url(images/featured-content-bg.gif); padding: 11px 0 18px 0;}
#featured-content h2 { font-size: 60px; font-style: italic; line-height: 60px;  color: #fff; padding-bottom: 9px;}
#featured-content p { font-size: 22px; color: #cceefb; line-height: 25px; font-style: italic; }

#main { padding: 43px 0; }
#main .shell { width: 952px; padding-left: 28px; }



#footer { background: url(images/footer-bg.gif) repeat-x 0 0; font-family: Verdana, sans-serif; font-size: 14px; color: #7b7b7b; min-height: 60px; padding-top:20px; }



